In [1]:
import pandas as pd
import numpy as np

In [2]:
from tqdm import tqdm

In [3]:
import pickle

In [4]:
unfiltered_df=pd.read_csv('./problem_descriptions_untranslated.csv')

In [5]:
unfiltered_df.head()

,index,Title_CSV,Title,Description,Sec_Description
0,p00000,QQ,qq,\nwrite a program which prints multiplication ...,\nno input.\n \n\n
1,p00001,List of Top 3 Hills,list of top 3 hills,\nthere is a data which provides heights (in m...,input\n\n\nheight of mountain 1\nheight of mou...
2,p00002,Digit Number,digit number,\nwrite a program which computes the digit num...,\nthere are several test cases. each test case...
3,p00003,Is it a Right Triangle?,is it a right triangle?,\nwrite a program which judges wheather given ...,\ninput consists of several data sets. in the ...
4,p00004,Simultaneous Equation,simultaneous equation,\nwrite a program which solve a simultaneous e...,"\nthe input consists of several data sets, 1 l..."

In [6]:
none_li=unfiltered_df['Title_CSV'].isnull().values
unfiltered_df[none_li]

,index,Title_CSV,Title,Description,Sec_Description
2478,p02478,NaN,problem is available from here.,NaN,
2479,p02533,NaN,problem 9999,\nこれはテスト問題です。\nthis is test problem. compute a...,

In [7]:
unfiltered_df.loc[unfiltered_df['index']=='p01775']['Description']

1775    \n\n
Name: Description, dtype: object

In [8]:
none_li=unfiltered_df['Description'].isnull().values
unfiltered_df[none_li]

,index,Title_CSV,Title,Description,Sec_Description
1731,p01731,Thread Tree,\nnathan o. davis has been running an electron...,NaN,
2225,p02225,Sum Them Up!,problem description is available from here.,NaN,
2227,p02227,Test,unionfind（ランダム生成）,NaN,
2228,p02228,UF,a,NaN,
2229,p02229,UF,b,NaN,
2230,p02230,UF,uf with binary input (k = 100),NaN,
2231,p02231,UF,uf with standard input (k = 100),NaN,
2232,p02232,Secret of Chocolate Poles,problem is available from here.,NaN,
2478,p02478,NaN,problem is available from here.,NaN,
2817,p02871,Hitachi Hokudai Labo & Hokkaido University Con...,problem setting,NaN,
2818,p02872,Hitachi Hokudai Labo & Hokkaido University Con...,problem setting,NaN,

In [9]:
num=9.8
type(num)

float

In [10]:
import re
st='hello'
print(re.match('\n*',st))
if re.match('\n*',st):
    print('Hi')

<re.Match object; span=(0, 0), match=''>
Hi

In [11]:
title_final=[]
description_final=[]


for i,row in tqdm(unfiltered_df.iterrows(),total=len(unfiltered_df)):
    

    if pd.isnull(row['Title_CSV']):
        title_final.append(row['Title'])
        
    else:
        title_final.append(row['Title_CSV'].split('-')[-1])
        
        
    if pd.isnull(row['Description']) or row['Description'].isspace():
        description_final.append(row['Sec_Description'])
        
    else:
        description_final.append(row['Description'])
        
unfiltered_df['Final_title']=title_final
unfiltered_df['Final_description']=description_final


filtered_df=unfiltered_df[['index','Final_title','Final_description']]
filtered_df.head()

100%|████████████████████████████████████| 3999/3999 [00:00<00:00, 18187.62it/s]

,index,Final_title,Final_description
0,p00000,QQ,\nwrite a program which prints multiplication ...
1,p00001,List of Top 3 Hills,\nthere is a data which provides heights (in m...
2,p00002,Digit Number,\nwrite a program which computes the digit num...
3,p00003,Is it a Right Triangle?,\nwrite a program which judges wheather given ...
4,p00004,Simultaneous Equation,\nwrite a program which solve a simultaneous e...

In [31]:
filtered_df.to_csv('filtered_problem_desc.csv',index=False)

In [12]:
with open('test_problems.pkl','rb') as f:
    test_problems=pickle.load(f)
    
with open('train_problems.pkl','rb') as f:
    train_problems=pickle.load(f)

In [13]:
all_problems=test_problems+train_problems
len(all_problems)

1062

In [14]:
all_problems[0]
for i,file in enumerate(all_problems):
    all_problems[i]=file.split('/')[-1].split('.c')[0]

In [15]:
all_problems[0]

'p03261'

In [16]:
filtered_df=filtered_df.loc[filtered_df['index'].isin(all_problems)]
len(filtered_df)

1061

In [17]:
filtered_df

,index,Final_title,Final_description
0,p00000,QQ,\nwrite a program which prints multiplication ...
1,p00001,List of Top 3 Hills,\nthere is a data which provides heights (in m...
2,p00002,Digit Number,\nwrite a program which computes the digit num...
3,p00003,Is it a Right Triangle?,\nwrite a program which judges wheather given ...
4,p00004,Simultaneous Equation,\nwrite a program which solve a simultaneous e...
...,...,...,...
3990,p04044,Iroha Loves Strings (ABC Edition),"iroha has a sequence of n strings s_1, s_2, ....."
3991,p04045,Iroha's Obsession,iroha is very particular about numbers. there ...
3992,p04046,Iroha and a Grid,we have a large square grid with h rows and w ...
3993,p04047,BBQ Easy,snuke is having a barbeque party. at the party...
3994,p04048,Mysterious Light,snuke is conducting an optical experiment usin...

In [18]:
to_translate=filtered_df[['index','Final_description']]
to_translate

       index                                  Final_description
0     p00000  \nwrite a program which prints multiplication ...
1     p00001  \nthere is a data which provides heights (in m...
2     p00002  \nwrite a program which computes the digit num...
3     p00003  \nwrite a program which judges wheather given ...
4     p00004  \nwrite a program which solve a simultaneous e...
...      ...                                                ...
3990  p04044  iroha has a sequence of n strings s_1, s_2, .....
3991  p04045  iroha is very particular about numbers. there ...
3992  p04046  we have a large square grid with h rows and w ...
3993  p04047  snuke is having a barbeque party. at the party...
3994  p04048  snuke is conducting an optical experiment usin...

[1061 rows x 2 columns]

In [20]:
to_translate.to_csv('./to_translate.csv',index=False)