In [283]:
import pandas as pd

In [284]:
from bs4 import BeautifulSoup
import glob

In [285]:
import re
import pickle

In [286]:
from tqdm import tqdm

In [287]:
# from deep_translator import DeepL

In [288]:
with open('./metadata/problem_list.csv','r') as f:
    df=pd.read_csv(f)

In [289]:
df.head()

,id,name,dataset,time_limit,memory_limit,rating,tags,complexity
0,p00000,QQ,AIZU,1000.0,131072.0,NaN,NaN,NaN
1,p00001,List of Top 3 Hills,AIZU,1000.0,131072.0,NaN,NaN,NaN
2,p00002,Digit Number,AIZU,1000.0,131072.0,NaN,NaN,NaN
3,p00003,Is it a Right Triangle?,AIZU,1000.0,131072.0,NaN,NaN,NaN
4,p00004,Simultaneous Equation,AIZU,1000.0,131072.0,NaN,NaN,NaN

In [290]:
df=df[['id','name','dataset']]
df.head()

       id                     name dataset
0  p00000                       QQ    AIZU
1  p00001      List of Top 3 Hills    AIZU
2  p00002             Digit Number    AIZU
3  p00003  Is it a Right Triangle?    AIZU
4  p00004    Simultaneous Equation    AIZU

In [291]:
html_doc='./problem_descriptions/p00000.html'
with open(html_doc,'r') as f:
    soup=BeautifulSoup(f,'html.parser')
# soup = BeautifulSoup(html_doc, 'html.parser')

In [292]:
def remove_html_tags(text):
    """Remove html tags from a string"""
    clean = re.compile('<.*?>')
    return re.sub(clean, '', text)

In [293]:
html_files=glob.glob('./problem_descriptions/p0*.html')
html_files=sorted(html_files)

In [294]:
len(html_files)

3999

In [295]:
description_dict={}

In [296]:
problem_descriptions_df=pd.read_csv('./metadata/problem_list.csv')
problem_descriptions_df.head()

,id,name,dataset,time_limit,memory_limit,rating,tags,complexity
0,p00000,QQ,AIZU,1000.0,131072.0,NaN,NaN,NaN
1,p00001,List of Top 3 Hills,AIZU,1000.0,131072.0,NaN,NaN,NaN
2,p00002,Digit Number,AIZU,1000.0,131072.0,NaN,NaN,NaN
3,p00003,Is it a Right Triangle?,AIZU,1000.0,131072.0,NaN,NaN,NaN
4,p00004,Simultaneous Equation,AIZU,1000.0,131072.0,NaN,NaN,NaN

In [297]:
# html_files=['./problem_descriptions/p00441.html']

In [298]:
for file in tqdm(html_files,total=len(html_files)):
    
    with open(file,'r') as f:
        text=f.read()
        
        
#     print(file)   
        
    pid=file.split('/')[-1].split('.ht')[0]
    
    
    if pid not in description_dict:
        description_dict[pid]=[]
        
    title_csv=problem_descriptions_df.loc[df['id']== pid]['name'].item()
    
    
    desc=text.lower().split('</p>')[0].split('<p>')
        
        
        
        
    section_text=text.lower().split('</section>')[0]
    section_text=section_text.split('<section>')[-1]
    
    
    
    

    title_temp=re.split('</h[1-9]>',section_text)[0]
    title=re.split('<h[1-9]>',title_temp)[-1]
    title=remove_html_tags(title)
    
    
    rem_section_text=section_text[len(title_temp)+5:]
    
#     print(len(re.split('<h[1-9]>',rem_section_text)))
#     print(re.split('<h[1-9]>',rem_section_text))

    rem_section_li=re.split('<h[1-9]>',rem_section_text)
    
    rem_section_text=rem_section_li[0]

    
    li=re.split('</p>|</li>',rem_section_text)

    
    for i,item in enumerate(li):
        li[i]=re.split('<p>|<li>',li[i])[-1]

    
    description=" ".join(li)
    description=remove_html_tags(description)
    
    sec_description=' '
    if len(rem_section_li)>1:
#         print(file)
        
        rem_section_text_secondary=rem_section_li[1]
    
        sec_li=re.split('</p>|</li>',rem_section_text_secondary)

        for i,item in enumerate(sec_li):
            sec_li[i]=re.split('<p>|<li>',sec_li[i])[-1]


        sec_description=" ".join(sec_li)
        sec_description=remove_html_tags(sec_description)

    
    


    description_dict[pid].append(title_csv)
    description_dict[pid].append(title)
    description_dict[pid].append(description)
    description_dict[pid].append(sec_description)
    
#     break

100%|█████████████████████████████████████| 3999/3999 [00:03<00:00, 1321.58it/s]

In [299]:
# description_dict['p00001']

In [300]:
df=pd.DataFrame.from_dict(description_dict,orient='index',columns=['Title_CSV','Title','Description','Sec_Description'])
df.head()

,Title_CSV,Title,Description,Sec_Description
p00000,QQ,qq,\nwrite a program which prints multiplication ...,\nno input.\n \n\n
p00001,List of Top 3 Hills,list of top 3 hills,\nthere is a data which provides heights (in m...,input\n\n\nheight of mountain 1\nheight of mou...
p00002,Digit Number,digit number,\nwrite a program which computes the digit num...,\nthere are several test cases. each test case...
p00003,Is it a Right Triangle?,is it a right triangle?,\nwrite a program which judges wheather given ...,\ninput consists of several data sets. in the ...
p00004,Simultaneous Equation,simultaneous equation,\nwrite a program which solve a simultaneous e...,"\nthe input consists of several data sets, 1 l..."

In [301]:
df.iloc[0]['Sec_Description']

'\nno input.\n \n\n'

In [302]:
df=df.reset_index()

In [303]:
df.loc[df['index']=='p00441']

,index,Title_CSV,Title,Description,Sec_Description
441,p00441,The Oldest Site,最古の遺跡,\n\n,"\n 昔, そこには集落があり, 多くの人が暮らしていた. 人々は形も大きさも様々な建物を建..."

In [304]:
df.sample(20)

,index,Title_CSV,Title,Description,Sec_Description
2522,p02576,AtCoder Beginner Contest 176 - Takoyaki,problem statement,takahashi loves takoyaki - a ball-shaped snack...,
1405,p01405,Oh,"\nproblem h: oh, my goat!\n",\n太郎君は、次郎君に古文のノートを借りた。\n明日の古文の宿題を写させてもらうためだ。\n...,\n入力の1行目では、データセットの数t(1 &le; t &le; 100)が与えられる。...
1055,p01055,Bomb Removal,bomb removal,\n\n,\n縦h&times;横wのグリッド上にn個の点火された導火線とそれぞれに対する1つの爆弾が...
641,p00641,Huge Family,problem e: huge family,\nmr. dango's family has extremely huge number...,\nthe input consists of several datasets.\n \n...
3869,p03923,CODE FESTIVAL 2016 Final (Parallel) - Cookies,problem statement,"rng is baking cookies. initially, he can bake ...",
96,p00096,Sum of 4 Integers II,４つの整数の和 ii,"\n4,000 以下の正の整数 n を入力し、0 〜 1000 の範囲の整数 a, b, c...",\n複数のデータセットが与えられます。各データセットに n が１行に与えられます。入力の最後...
3521,p03575,AtCoder Beginner Contest 075 - Bridge,problem statement,you are given an undirected connected graph wi...,
3198,p03252,AtCoder Beginner Contest 110 - String Transfor...,problem statement,you are given strings s and t consisting of lo...,
1170,p01170,Robots' Crash,problem h: robot's crash,\nprof. jenifer a. gibson is carrying out expe...,\nthe input consists of multiple datasets. eac...
2151,p02151,Phone Number,problem c: phone number,\n\n,\n株式会社ウクニキアの電話番、デンさんは毎日とても長い電話番号を電話に入力しています。\n...
2059,p02059,Revenge of UMG,h: revenge of umg,\n\n,"'u', 'm', 'g' の三種類の文字からなる文字列 t に対し、1, 2, ..., ..."
506,p00506,Common Divisors,問題 ２,\n 入力ファイルの１行目に正整数 n が書いてあり，\n２行目には半角空白文字１つを区切り...,入出力例\n\n
1152,p01152,Reading a Chord,problem e: reading a chord,"\nin this problem, you are required to write a...",\nthe first line of input contains an integer ...
3407,p03461,AtCoder Regular Contest 089 - GraphXY,problem statement,atcodeer the deer wants a directed graph that ...,
3516,p03570,CODE FESTIVAL 2017 qual C - Yet Another Palind...,problem statement,we have a string s consisting of lowercase eng...,
2093,p02093,Invariant Tree,f: invariant tree,\n\n,"you have a permutation p_1, p_2, ... , p_n of ..."
714,p00714,Water Tank,\nproblem e: water tank\n,\nmr. denjiro is a science teacher.\n\ntoday h...,\nthe input consists of multiple data sets.\n\...
2615,p02669,AtCoder Grand Contest 044 - Pay to Win,problem statement,you start with the number 0 and you want to re...,
617,p00617,Simple GUI Application,problem c: simple gui application,\nadvanced creative mobile 社（acm社）では、新しいポータブルコ...,\n入力は複数のデータセットからなる。各データセットは以下の形式で与えられる：\n \nn ...
314,p00314,Programming Contest,プログラミングコンテスト,\n今年も白虎大学でプログラミングコンテストが開催されることになりました。コンテストではいく...,\n入力は以下の形式で与えられる。\n \n１行目にチームが正解した問題の数 n (1 &l...

In [305]:
df.to_csv('problem_descriptions_untranslated.csv',index=False)

In [306]:
# type(df['Title_CSV'])
df['Title_CSV'].isnull().values.any()

True

In [282]:
df.loc[df['index']=='p00434']

,level_0,index,Title_CSV,Title,Description,Sec_Description
434,434,p00434,Who Are The Student Yet To Submit,未提出者は誰だ,\n\n,\njoi大学のm教授はプログラミングの授業を担当している．クラスには30人の受講生がいて各...

In [153]:
df['Title_filtered']=df['Title_CSV'].apply(lambda x:x.split('-')[-1])
df.head()

AttributeError: 'float' object has no attribute 'split'

In [30]:
len(df)

3999

In [31]:
problem_desc=pd.read_csv('./problem_descriptions_untranslated.csv')

In [32]:
problem_desc.head()

,Unnamed: 0,Title_CSV,Title,Description
0,p00508,Nearest Two Points,問題 ４,"\n 平面上の n 個の点 p1, ..., pn が与えられたとき，\n距離が最小の２点を..."
1,p00407,Castle in the Sky,天空の城ツルガ,\n 天空の城ツルガはアイヅ国の上空に浮かんでいる。アイヅ国では、天空の城ツルガによって日...
2,p02440,Min-Max Element,min-max element,\n write a program which manipulates a sequen...
3,p02355,The Smallest Window II,the smallest window ii,"\n for a given array $a_1, a_2, a_3, ... , a_..."
4,p01980,Elevator,g: エレベータ,\n株式会社aorは $n$ 階建てのビルである。地下階は存在しない。\naorイカちゃんは...

In [33]:
from googletrans import Translator

translator = Translator()

In [34]:
problem_descriptions=problem_desc['Description']

In [35]:
# len(problem_descriptions.unique())
problem_descriptions.isna().unique()

array([False,  True])

In [102]:
problem_descriptions=problem_descriptions.to_list()

In [105]:
problem_descriptions.unique()

AttributeError: 'list' object has no attribute 'unique'

In [103]:
result_text = translator.translate(problem_descriptions,dest='en')

AttributeError: 'NoneType' object has no attribute 'group'